<div>
    <div [formGroup]="searchProfile" class="c-input-group">
      <div class="c-input-container">
        <input id="profile-search"
               formControlName="userName"
               class="c-input"
               [autofocus]
               (keyup.enter)="getProfileStatistics()">
      </div>
  
      <button class="c-btn-input c-btn-primary"
              (click)="getProfileStatistics()">
        Search
      </button>
    </div>
    <div *ngIf="errorMessage">
      <div class="c-alert c-alert-danger c-text-center">
        {{errorMessage}}
      </div>
    </div>
  </div>
