<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <label>Profile sentiment: {{profileStatistics.profileSentimentLabel}}</label>
        <br>
        <label>Profile toxicity: {{profileStatistics.profileToxicityLabel}}</label>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-md-6">
      <app-profile-sentiment-pie-chart 
        [profileSentiment]="getSentimentChartData()">
      </app-profile-sentiment-pie-chart>
    </div>
    <div class="col col-md-6">
      <app-profile-toxicity-pie-chart
      [profileToxicity]="getToxicityChartData()">
    </app-profile-toxicity-pie-chart>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col col-md-4"></div>
    <div class="col col-md-4 text-center top-profile-words-summary">
      Top profile words
    </div>
    <div class="col col-md-4"></div>
  </div>
  <div class="row mt-5">
    <div class="col col-md-6">
      <app-top-words-pie-chart 
        [profileTopWords]="getTopWordsData()">        
      </app-top-words-pie-chart>
    </div>
    <div class="col col-md-6">
      <app-top-words-list 
      [profileTopWords]="getTopWordsData()">
    </app-top-words-list>
    </div>
  </div>
</div>