<div>
  <div>
    <app-profile-search 
      (userChange)="updateSearchedRecipient($event)">
    </app-profile-search>
  </div>
    
  <div *ngIf="profileStatistics">
  
    <div>
      <app-profile-summary 
        [profileStatistics]="profileStatistics">
      </app-profile-summary>
    </div>
  
    <div>
      <app-profile-sentiment-pie-chart 
        [profileSentiment]="profileStatistics.sentimentScore">
      </app-profile-sentiment-pie-chart>
    </div>
  
    <div>
      <app-tweets-details 
        [records]="profileStatistics.records">
      </app-tweets-details>
    </div>
  
  </div>
</div>
